ControlObjetosPerdidos/ControlObjetosPerdidos.MVC/Connected Services/UserService/ServicioUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52584/Servicios/ServicioUsuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52584/Servicios/ServicioUsuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52584/Servicios/ServicioUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.Usuario" />
      <xsd:import schemaLocation="http://localhost:52584/Servicios/ServicioUsuarios.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.TiposComunes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUsuarios_InsertarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_InsertarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ActualizarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRol" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ActualizarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRolResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ActualizarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstado" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ActualizarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_EchoTest_InputMessage">
    <wsdl:part name="parameters" element="tns:EchoTest" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_EchoTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioUsuarios">
    <wsdl:operation name="InsertarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/InsertarUsuario" message="tns:IServicioUsuarios_InsertarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/InsertarUsuarioResponse" message="tns:IServicioUsuarios_InsertarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/ActualizarRol" message="tns:IServicioUsuarios_ActualizarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/ActualizarRolResponse" message="tns:IServicioUsuarios_ActualizarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/ActualizarEstado" message="tns:IServicioUsuarios_ActualizarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/ActualizarEstadoResponse" message="tns:IServicioUsuarios_ActualizarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EchoTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/EchoTest" message="tns:IServicioUsuarios_EchoTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/EchoTestResponse" message="tns:IServicioUsuarios_EchoTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioUsuarios" type="tns:IServicioUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuarios/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRol">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuarios/ActualizarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuarios/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoTest">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuarios/EchoTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioUsuarios">
    <wsdl:port name="BasicHttpBinding_IServicioUsuarios" binding="tns:BasicHttpBinding_IServicioUsuarios">
      <soap:address location="http://localhost:52584/Servicios/ServicioUsuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>