ControlObjetosPerdidos/ControlObjetosPerdidos.MVC/Connected Services/UserService/ServicioUsuarios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.Usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.Usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PeticionUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRolUsuario" type="xs:int" />
      <xs:element name="IdUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeticionUsuario" nillable="true" type="tns:PeticionUsuario" />
</xs:schema>