ControlObjetosPerdidos/ControlObjetosPerdidos.MVC/Connected Services/UserService/ServicioUsuarios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52584/Servicios/ServicioUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.Usuario" />
  <xs:import schemaLocation="http://localhost:52584/Servicios/ServicioUsuarios.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.TiposComunes" />
  <xs:element name="InsertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.Usuario" minOccurs="0" name="peticionUsuario" nillable="true" type="q1:PeticionUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.TiposComunes" minOccurs="0" name="InsertarUsuarioResult" nillable="true" type="q2:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.Usuario" minOccurs="0" name="peticionUsuario" nillable="true" type="q3:PeticionUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.TiposComunes" minOccurs="0" name="ActualizarRolResult" nillable="true" type="q4:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.Usuario" minOccurs="0" name="peticionUsuario" nillable="true" type="q5:PeticionUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.TiposComunes" minOccurs="0" name="ActualizarEstadoResult" nillable="true" type="q6:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prueba" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ControlObjetosPerdidos.MensajeServicios.TiposComunes" minOccurs="0" name="EchoTestResult" nillable="true" type="q7:RespuestaServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>